absl-py==
alembic==
astor==
autopep8==
backcall==
bleach==
certifi==
chardet==
cycler==
decorator==
entrypoints==
future==
gast==
grpcio==
h5py==
html5lib==
idna==
ipykernel==
ipython==
ipython-genutils==
ipywidgets==
jedi==
Jinja2==
jsonschema==
jupyter==
jupyter-client==
jupyter-console==
jupyter-core==
jupyterhub==
jupyterlab==
jupyterlab-launcher==
Keras==
Keras-Applications==
Keras-Preprocessing==
kiwisolver==
Mako==
Markdown==
MarkupSafe==
matplotlib==
mccabe==
mistune==
nbconvert==
nbformat==
notebook==
numpy==
opencv-python==
pamela==
pandas==
pandocfilters==
parso==
pbr==
pexpect==
pickleshare==
Pillow==
pluggy==
prometheus-client==
prompt-toolkit==
protobuf==
ptyprocess==
pycodestyle==
pycurl==
pydocstyle==
pyflakes==
Pygments==
pygobject==
pyparsing==
python-apt==
python-dateutil==
python-editor==
python-language-server==
python-oauth2==
pytz==
PyYAML==
pyzmq==
qtconsole==
requests==
rope==
scikit-learn==
scipy==
seaborn==
Send2Trash==
simplegeneric==
six==
sklearn==
snowballstemmer==
SQLAlchemy==
stevedore==
tensorboard==
tensorflow==
termcolor==
terminado==
testpath==
tornado==
traitlets==
urllib3==
virtualenv==
virtualenv-clone==
virtualenvwrapper==
wcwidth==
webencodings==
Werkzeug==
widgetsnbextension==
yapf==
minio==