imgaug
scikit-image
imageio
Shapely
pydot
xlrd
jieba
word2vec
tqdm
minio
baytune
yellowbrick
Augmentor
minepy
plotly
numpy==1.16
ipywidgets==7.4
func-timeout
graphviz
tensorboardX
ipdb
openpyxl
torchtext==0.6.0
